<table style="width: 100%;">
    <tr>
        <th>Icon</th>
        <th>Temp</th>
        <th>Pressure</th>
        <th>Wind Speed</th>
    </tr>
    <tr>
        <td><img src="{{icon}}" alt=""></td>
        <td>{{temp}}</td>
        <td>{{windSpeed}}</td>
        <td>{{pressure}}</td>
    </tr>
</table>